<div class="row">
  <ul class="nav nav-tabs">
    <li ng-class="{active: tab == 0}"><a ng-click="setTab(0)">Fixed Costs</a></li>
    <li ng-class="{active: tab == 1}"><a ng-click="setTab(1)">Developer Costs</a></li>
    <li ng-class="{active: tab == 2}"><a ng-click="setTab(2)">Total Costs</a></li>
  </ul>
  <div class="col-md-8">

    <h1 ng-show="tab == 2">Average One Year Startup Cost {{calculateTotalCost() 
      | currency:"$"}} in {{formData.area}}</h1>

    <h1 ng-show="tab == 1">Average One Year Developer Cost {{calculateDeveloperCost() 
      | currency:"$"}} in {{formData.area}}</h1>

    <h1 ng-show="tab == 0">Average One Year Startup Cost {{calculateFixedCost() 
      | currency:"$"}} in {{formData.area}}</h1>

    <div ng-show="tab == 1 || tab == 2">

      <div class="row highlighter" ng-click="setFrame('developer_cost')">

        <div class="col-md-6">
          <h5>Average Cost of a back-end developer in {{formData.area}}: 
            {{localCosts.developerCost | currency:"$"}}</h5>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label class="col-lg-2 control-label">Quantity</label>
            <div class="col-lg-10">
              <input type="text" ng-model="formData.developer_quantity">
            </div>
          </div>
        </div>

      </div>

      <div class="row highlighter" ng-click="setFrame('designer_cost')">

        <div class="col-md-6">
          <h5>Average Cost of a front-end developer in {{formData.area}}: 
            {{localCosts.designerCost | currency:"$"}}</h5>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label class="col-lg-2 control-label">Quantity</label>
            <div class="col-lg-10">
              <input type="text" ng-model="formData.designer_quantity">
            </div>
          </div>
        </div>

      </div>
    </div>
    <div ng-show="tab == 0 || tab == 2">

      <div class="row highlighter" ng-click="setFrame('local_taxes')">

        <div class="col-md-6">
          <h5>Tax Rates in {{formData.area}}: {{localCosts.localTaxRate}}%</h5>
        </div>

        <div class="col-md-6">
          
        </div>

      </div>

      <div class="row highlighter" ng-click="setFrame('office_space')">

        <div class="col-md-6">
          <h5>Cost of office space per square foot: 
            {{localCosts.officeSpaceCost | currency:"$"}}</h5>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label class="col-lg-2 control-label">Square Feet</label>
            <div class="col-lg-10">
              <input type="text" ng-model="formData.square_feet">
            </div>
          </div>
        </div>

      </div>

      <div class="row highlighter" ng-click="setFrame('incorporation')">

        <div class="col-md-6">
          <h5>Cost of creating LLC: 
            {{localCosts.incorporationCost | currency:"$"}}</h5>
        </div>

      </div>

      <div class="row highlighter" ng-click="setFrame('legal_costs')">

        <div class="col-md-6">
          <h5>Cost per hour of additional legal: 
            {{localCosts.legalPerHour | currency:"$"}}</h5>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label class="col-lg-2 control-label">Hours</label>
            <div class="col-lg-10">
              <input type="text" ng-model="formData.legal_hours">
            </div>
          </div>
        </div>

      </div>

      <div class="row highlighter" ng-click="setFrame('domain_names')">

        <div class="col-md-6">
          <h5>Cost per domain name:
            {{localCosts.domainNameCost | currency:"$"}}</h5>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <label class="col-lg-2 control-label">Quantity</label>
            <div class="col-lg-10">
              <input type="text" ng-model="formData.domain_name_quantity">
            </div>
          </div>
        </div>

      </div>

      <div class="row highlighter" ng-click="setFrame('web_hosting')">

        <div class="col-md-6">
          <h5>Hosting Cost for Web Application: 
            {{localCosts.hostingCost | currency:"$"}}</h5>
        </div>

      </div>
    </div>


  </div>
  <div class="col-md-4" ng-switch on="sideFrame">

    <button type="submit" class="btn btn-lg btn-success" ng-click="saveState()"
      >Save Form
    </button>

    <div ng-switch-when="developer_cost">
      Developer
    </div>

    <div ng-switch-when="designer_cost">
      Designer
    </div>

    <div ng-switch-when="local_taxes">
      Local Tax Information
    </div>

    <div ng-switch-when="office_space">
      Office Space Information
    </div>

    <div ng-switch-when="incorporation">
      <h1>Incorporation</h1>
    </div>

    <div ng-switch-when="legal_costs">
      <h1>Legal Costs</h1>
    </div>      

    <div ng-switch-when="domain_names">
      <h1>Catchy Domain Name</h1>
    </div>  

    <div ng-switch-when="web_hosting">
      <h1>Web Hosting Costs</h1>
    </div>  


  </div>

</div>