<div class="masthead">
  <h3 class="text-muted">Denver Startup Weekend</h3>
  <ul class="nav nav-justified">
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#">Getting Started</a></li>
    <li><a href="#">Funding</a></li>
    <li><a href="#">Jobs</a></li>
    <li><a href="#">Offers</a></li>
    <li><a href="#">Forums</a></li>
  </ul>
</div>